{{ 'section-testimonials-card.css' | asset_url | stylesheet_tag }}

<section class="section section--testimonials-card">
  <div class="wrapper">
    {%- if section.settings.subheading -%}<h4 class="section--subheading">{{ section.settings.subheading }}</h4>{%- endif -%}
    <h2 class="section--heading">{{ section.settings.heading }}</h2>

    <ul class="testimonials-card js-testimonial-card">
      {% for block in section.blocks %}
        <li class="testimonial-card-item">
          <div class="testimonial">
            <div class="testimonial-author__image">
              <img src="{{ block.settings.photo | img_url: 'master' }}" alt="Author Photo">
            </div>
            <div class="testimonial-author__info">
              <h5>{{ block.settings.author }}</h5>

              <p>{{ block.settings.quote }}</p>
              <div class="testimonial-dog">
                <div>
                  <img src="{{ block.settings.dog | img_url: 'master' }}" alt="Author Photo">
                </div>
                <div>
                  <svg xmlns="http://www.w3.org/2000/svg" width="40.834" height="7.432" viewBox="0 0 40.834 7.432">
                    <g id="Rating" transform="translate(0 0)">
                      <g id="star_rate_black_24dp" transform="translate(33.46)">
                        <path id="Path_32" data-name="Path 32" d="M8.945,7.046,8.257,4.781a.466.466,0,0,0-.894,0L6.67,7.046H4.588a.467.467,0,0,0-.271.847l1.7,1.217-.669,2.157a.467.467,0,0,0,.73.51l1.727-1.31,1.727,1.315a.467.467,0,0,0,.73-.51L9.595,9.114,11.3,7.9a.467.467,0,0,0-.271-.847H8.945Z" transform="translate(-4.12 -4.447)" fill="#ffc849"/>
                      </g>
                      <g id="star_rate_black_24dp-2" data-name="star_rate_black_24dp" transform="translate(25.095)">
                        <path id="Path_32-2" data-name="Path 32" d="M8.945,7.046,8.257,4.781a.466.466,0,0,0-.894,0L6.67,7.046H4.588a.467.467,0,0,0-.271.847l1.7,1.217-.669,2.157a.467.467,0,0,0,.73.51l1.727-1.31,1.727,1.315a.467.467,0,0,0,.73-.51L9.595,9.114,11.3,7.9a.467.467,0,0,0-.271-.847H8.945Z" transform="translate(-4.12 -4.447)" fill="#ffc849"/>
                      </g>
                      <g id="star_rate_black_24dp-3" data-name="star_rate_black_24dp" transform="translate(16.73)">
                        <path id="Path_32-3" data-name="Path 32" d="M8.945,7.046,8.257,4.781a.466.466,0,0,0-.894,0L6.67,7.046H4.588a.467.467,0,0,0-.271.847l1.7,1.217-.669,2.157a.467.467,0,0,0,.73.51l1.727-1.31,1.727,1.315a.467.467,0,0,0,.73-.51L9.595,9.114,11.3,7.9a.467.467,0,0,0-.271-.847H8.945Z" transform="translate(-4.12 -4.447)" fill="#ffc849"/>
                      </g>
                      <g id="star_rate_black_24dp-4" data-name="star_rate_black_24dp" transform="translate(8.365)">
                        <path id="Path_32-4" data-name="Path 32" d="M8.945,7.046,8.257,4.781a.466.466,0,0,0-.894,0L6.67,7.046H4.588a.467.467,0,0,0-.271.847l1.7,1.217-.669,2.157a.467.467,0,0,0,.73.51l1.727-1.31,1.727,1.315a.467.467,0,0,0,.73-.51L9.595,9.114,11.3,7.9a.467.467,0,0,0-.271-.847H8.945Z" transform="translate(-4.12 -4.447)" fill="#ffc849"/>
                      </g>
                      <g id="star_rate_black_24dp-5" data-name="star_rate_black_24dp">
                        <path id="Path_32-5" data-name="Path 32" d="M8.945,7.046,8.257,4.781a.466.466,0,0,0-.894,0L6.67,7.046H4.588a.467.467,0,0,0-.271.847l1.7,1.217-.669,2.157a.467.467,0,0,0,.73.51l1.727-1.31,1.727,1.315a.467.467,0,0,0,.73-.51L9.595,9.114,11.3,7.9a.467.467,0,0,0-.271-.847H8.945Z" transform="translate(-4.12 -4.447)" fill="#ffc849"/>
                      </g>
                    </g>
                  </svg>
                  <h6>{{ block.settings.title }}</h6>
                </div>
              </div>
            </div>
          </div>
        </li>
      {% endfor %}
    </ul>
  </div>
</section>

{% schema %}
{
  "name": "Testimonials",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Worth Barking About",
      "label": "Heading"
    },
    {
      "type": "image_picker",
      "id": "badge",
      "label": "Badge"
    }
  ],

  "blocks": [
    {
      "type": "testimonial_card",
      "name": "Testimonial Card",
      "settings": [
        {
          "type": "image_picker",
          "id": "photo",
          "label": "Photo"
        },
        {
          "type": "textarea",
          "id": "quote",
          "label": "Quote",
          "default": "Believe it or not, this goofball is fussy as he is fluffy. Ordered his first @barekibble... it was love at first bite! 😍"
        },
        {
          "type": "text",
          "id": "author",
          "label": "Name",
          "default": "John D."
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title",
          "default": "Approved by Bronco, the Bernese Mountain Dog"
        },
        {
          "type": "image_picker",
          "id": "dog",
          "label": "Dog\'s Photo"
        }
      ]
    }
  ],

  "presets": [
    {
      "name": "Testimonials Card"
    }
  ]
}
{% endschema %}
