{{ 'section-hero.css' | asset_url | stylesheet_tag }}

<section class="section section--hero">
    <div class="hero hero-slider">
    {% for block in section.blocks %}
        <div class="hero--item">
            {% assign desktop_img = block.settings.desktop | img_url : 'master' %}
            {% assign mobile_img  = block.settings.mobile | img_url : 'master' %}

            <picture>
                <source media="(max-width: 650px)" srcset="{{ mobile_img }}" />
                <source media="(min-width: 651px)" srcset="{{ desktop_img }}" />
                <img src="{{ desktop_img }}" class="bg" alt="Background" />
            </picture>

            <div class="wrapper">
                <div class="hero--content {{ block.settings.desktop_content_position }}">
                    <div class="page-header">
                        <div class="page-header__content {{ block.settings.desktop_content_alignment }}">
                        <h3 class="section--heading">{{ block.settings.heading }}</h3>
                        {% if block.settings.intro != blank %}
                            <p>{{ block.settings.intro }}</p>
                        {% endif %}
                        
                        {% if block.settings.button_link != blank %}
                            <a href="{{ block.settings.button_link }}" class="button button-primary">{{ block.settings.button_label }}</a>
                        {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</section>

{% schema %}
{
  "name": "Hero",
  "tag": "section",
  "class": "section",
  "blocks": [
    {
        "type": "slide",
        "name": "Slide",
        "settings": [
            {
                "type": "text",
                "id": "heading",
                "default": "Page Title",
                "label": "Heading"
            },
            {
                "type": "textarea",
                "id": "intro",
                "default": "Intro Text",
                "label": "Intro Text"
            },
            {
                "type": "text",
                "id": "button_label",
                "default": "Button Label",
                "label": "Button Label"
            },
            {
                "type": "text",
                "id": "button_link",
                "label": "Button Link"
            },
            {
                "type": "select",
                "id": "desktop_content_alignment",
                "options": [
                    {
                        "value": "left",
                        "label": "Left"
                    },
                    {
                        "value": "center",
                        "label": "Center"
                    },
                    {
                        "value": "right",
                        "label": "Right"
                    }
                ],
                "default": "center",
                "label": "Content Text Alignment"
            },
            {
                "type": "select",
                "id": "desktop_content_position",
                "options": [
                    {
                    "value": "top-left",
                    "label": "Top Left"
                    },
                    {
                    "value": "top-center",
                    "label": "Top Center"
                    },
                    {
                    "value": "top-right",
                    "label": "Top Right"
                    },
                    {
                    "value": "middle-left",
                    "label": "Middle Left"
                    },
                    {
                    "value": "middle-center",
                    "label": "Middle Center"
                    },
                    {
                    "value": "middle-right",
                    "label": "Middle Right"
                    },
                    {
                    "value": "bottom-left",
                    "label": "Bottom Left"
                    },
                    {
                    "value": "bottom-center",
                    "label": "Bottom Center"
                    },
                    {
                    "value": "bottom-right",
                    "label": "Bottom Right"
                    }
                ],
                "default": "middle-center",
                "label": "Content Position"
                },
            {
                "type": "header",
                "content": "Background Image"
            },
            {
                "type": "image_picker",
                "id": "desktop",
                "label": "Background for Desktop"
            },
            {
                "type": "image_picker",
                "id": "mobile",
                "label": "Background for Mobile"
            }
        ]
    }
  ],
  "presets": [ 
    {
      "name": "Hero"
    }
  ]
}
{% endschema %}