{{ 'section-purpose.css' | asset_url | stylesheet_tag }}

{% liquid
  assign heading = section.settings.heading
  assign subheading = section.settings.subheading
  assign content = section.settings.content
%}

<section class="section section--purpose pull-by-prev">
  <picture>
    <source srcset="{{ 'img-purpose-desktop-top-left.png' | asset_url }}" media="(min-width: 768px)">
    <img class="decor-top-left" src="{{ 'img-purpose-mobile-top-left.png' | asset_url }}" alt="Decor">
  </picture>

  <div class="wrapper">
    <div class="purpose__content text-light text-center">
      <h3 class="purpose__heading section--heading text-light remove-spacing">{{ heading }}</h3>
      <h4 class="section--subheading">{{ subheading }}</h4>
      {{ content }}
    </div>
    <div class="purpose__logo d-flex">
            {% for block in section.blocks %}
              {%liquid  
                  assign logo = block.settings.logo
              %}
              <div class="purpose___item-logo flex-basis-100">
                {% if logo != blank %}
                  <img class="purpose___main-image" src="{{ logo | img_url: 'master' }}" alt="{{ logo.alt }}" loading="lazy">
                {% endif %}
              </div>
          {% endfor %}
    </div>
  </div>

  <picture>
    <source srcset="{{ 'img-purpose-desktop-bottom-right.png' | asset_url }}" media="(min-width: 768px)">
    <img class="decor-bottom-right" src="{{ 'img-purpose-mobile-bottom-right.png' | asset_url }}" alt="Decor">
  </picture>
</section>

{% schema %}
{
  "name": "Purpose",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Our Purpose: Giving Back to Dogs in Need",
      "label": "Heading"
    },
    {
      "type": "text",
      "id": "subheading",
      "default": "Giving Back with Every Purchase",
      "label": "Sub Heading"
    },
    {
      "type": "richtext",
      "id": "content",
      "default": "<p>With every order purchased, we give a % back to local shelters, rescue organizations, and animal welfare projects to help dogs and pups in need.</p>",
      "label": "Content"
    }
  ],
  "blocks" : [
    {
      "name": "Logo",
      "type": "image",
      "settings": [
        {
          "type": "image_picker",
          "id": "logo",
          "label": "Logo"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Purpose"
    }
  ]
}
{% endschema %}
