{{ 'section-lp-footer.css' | asset_url | stylesheet_tag }}

<div class="landing-footer">
  <div class="wrapper">
    <div class="logo-brand">
      <img src="{{ section.settings.logo | img_url: 'master' }}" alt="Bare Pet Co.">
      <h4>{{ section.settings.tagline }}</h4>
    </div>

    <div class="trust-badge">Trust Badge Here</div>

    <div class="social-media">
      <a href="{{ section.settings.instagram }}">
        <svg id="Icon-IG" xmlns="http://www.w3.org/2000/svg" width="28.278" height="28.278" viewBox="0 0 28.278 28.278">
          <path id="Icon-IG_white" data-name="Icon-IG white" d="M14.139,2.514a43.353,43.353,0,0,1,5.656.157,7.287,7.287,0,0,1,2.671.471,5.517,5.517,0,0,1,2.671,2.671,7.287,7.287,0,0,1,.471,2.671c0,1.414.157,1.885.157,5.656a43.353,43.353,0,0,1-.157,5.656,7.287,7.287,0,0,1-.471,2.671,5.517,5.517,0,0,1-2.671,2.671,7.287,7.287,0,0,1-2.671.471c-1.414,0-1.885.157-5.656.157a43.353,43.353,0,0,1-5.656-.157,7.287,7.287,0,0,1-2.671-.471,5.517,5.517,0,0,1-2.671-2.671,7.287,7.287,0,0,1-.471-2.671c0-1.414-.157-1.885-.157-5.656a43.353,43.353,0,0,1,.157-5.656,7.287,7.287,0,0,1,.471-2.671,5.642,5.642,0,0,1,1.1-1.571,2.656,2.656,0,0,1,1.571-1.1,7.287,7.287,0,0,1,2.671-.471,43.353,43.353,0,0,1,5.656-.157m0-2.514A46.419,46.419,0,0,0,8.326.157,9.7,9.7,0,0,0,4.87.786,6.15,6.15,0,0,0,2.357,2.357,6.15,6.15,0,0,0,.786,4.87,7.158,7.158,0,0,0,.157,8.326,46.419,46.419,0,0,0,0,14.139a46.419,46.419,0,0,0,.157,5.813,9.7,9.7,0,0,0,.628,3.456,6.15,6.15,0,0,0,1.571,2.514A6.15,6.15,0,0,0,4.87,27.493a9.7,9.7,0,0,0,3.456.628,46.418,46.418,0,0,0,5.813.157,46.418,46.418,0,0,0,5.813-.157,9.7,9.7,0,0,0,3.456-.628,6.591,6.591,0,0,0,4.085-4.085,9.7,9.7,0,0,0,.628-3.456c0-1.571.157-2.042.157-5.813a46.418,46.418,0,0,0-.157-5.813,9.7,9.7,0,0,0-.628-3.456,6.15,6.15,0,0,0-1.571-2.514A6.15,6.15,0,0,0,23.408.786,9.7,9.7,0,0,0,19.952.157,46.419,46.419,0,0,0,14.139,0m0,6.912a7.11,7.11,0,0,0-7.227,7.227,7.227,7.227,0,1,0,7.227-7.227m0,11.94a4.629,4.629,0,0,1-4.713-4.713,4.629,4.629,0,0,1,4.713-4.713,4.629,4.629,0,0,1,4.713,4.713,4.629,4.629,0,0,1-4.713,4.713M21.68,4.87A1.728,1.728,0,1,0,23.408,6.6,1.743,1.743,0,0,0,21.68,4.87" fill="#6bc5b1" fill-rule="evenodd"/>
        </svg>
      </a>

      <a href="{{ section.settings.facebook }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="15.154" height="30" viewBox="0 0 15.154 30">
          <g id="Icon-FB" transform="translate(0)">
            <path id="facebook" d="M127.166,15.978h3.288V29.516a.484.484,0,0,0,.484.484h5.576a.484.484,0,0,0,.484-.484V16.042h3.78a.484.484,0,0,0,.481-.429l.574-4.984a.484.484,0,0,0-.481-.539H137V6.966c0-.942.507-1.419,1.507-1.419h2.847a.484.484,0,0,0,.484-.484V.487A.484.484,0,0,0,141.353,0h-3.924c-.028,0-.089,0-.18,0a7.519,7.519,0,0,0-4.916,1.853,5.156,5.156,0,0,0-1.714,4.583V10.09h-3.452a.484.484,0,0,0-.484.484v4.92A.484.484,0,0,0,127.166,15.978Z" transform="translate(-126.682)" fill="#6bc5b1"/>
          </g>
        </svg>
      </a>

      <a href="{{ section.settings.twitter }}">
        <svg xmlns="http://www.w3.org/2000/svg" width="29.014" height="23.574" viewBox="0 0 29.014 23.574">
          <g id="Icon-Twitter" transform="translate(0 0)">
            <path id="twitter" d="M29.014,50.791a12.4,12.4,0,0,1-3.427.939A5.915,5.915,0,0,0,28.2,48.442a11.887,11.887,0,0,1-3.772,1.44A5.948,5.948,0,0,0,14.143,53.95a6.125,6.125,0,0,0,.138,1.356A16.836,16.836,0,0,1,2.02,49.084a5.95,5.95,0,0,0,1.828,7.95A5.874,5.874,0,0,1,1.161,56.3v.065a5.976,5.976,0,0,0,4.766,5.845,5.937,5.937,0,0,1-1.56.2,5.259,5.259,0,0,1-1.126-.1A6,6,0,0,0,8.8,66.449a11.952,11.952,0,0,1-7.375,2.537A11.142,11.142,0,0,1,0,68.9a16.746,16.746,0,0,0,9.125,2.669c10.946,0,16.93-9.067,16.93-16.926,0-.263-.009-.517-.022-.769A11.866,11.866,0,0,0,29.014,50.791Z" transform="translate(0 -48)" fill="#6bc5b1"/>
          </g>
        </svg>
      </a>
    </div>

    <div class="logo-icon">
      <img src="{{ section.settings.animated | img_url: 'master' }}" alt="Icon Bare Pet Co.">
    </div>
  </div>
  <svg class="decor" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="1030" height="77" viewBox="0 0 1030 77">
    <defs>
      <clipPath id="clip-path">
        <rect id="Rectangle_747" data-name="Rectangle 747" width="1030" height="77" transform="translate(122 6159)" fill="#fff" stroke="#707070" stroke-width="1"/>
      </clipPath>
    </defs>
    <g id="Mask_Group_13" data-name="Mask Group 13" transform="translate(-122 -6159)" clip-path="url(#clip-path)">
      <ellipse id="Ellipse_154" data-name="Ellipse 154" cx="1433" cy="1296.5" rx="1433" ry="1296.5" transform="translate(-793 6159)" fill="#65659f"/>
    </g>
  </svg>
</div>

{% schema %}
{
  "name": "LP - Footer",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Footer Logo"
    },
    {
      "type": "text",
      "id": "tagline",
      "default": "simple. honest. nutritious.",
      "label": "Tagline"
    },
    {
      "type": "image_picker",
      "id": "animated",
      "label": "Animated Logo"
    },
    {
      "type": "text",
      "id": "instagram",
      "default": "http://",
      "label": "Instagram"
    },
    {
      "type": "text",
      "id": "facebook",
      "default": "http://",
      "label": "Facebook"
    },
    {
      "type": "text",
      "id": "twitter",
      "default": "http://",
      "label": "Twitter"
    }
  ],

  "presets": [
    {
      "name": "LP - Footer"
    }
  ]
}
{% endschema %}
