{{ 'section-treats.css' | asset_url | stylesheet_tag }}

<div class="landing-treats" style="background-image: url({{ section.settings.background | img_url: 'master' }})">
  <div class="wrapper">
    <img src="{{ section.settings.logo | img_url: 'master' }}" class="title-logo" alt="Title Logo">
    <div class="features">
      <div class="features-left features-icon">
        {%- for block in section.blocks limit:2 -%}
          <div class="icon-set">
            <img src="{{ block.settings.icon | img_url: 'master' }}" alt="Icon">
            <h3>{{ block.settings.title }}</h3>
            <p>{{ block.settings.desc }}</p>
          </div>
        {%- endfor -%}
      </div>
      <div class="features-center">
        <h4>{{ section.settings.subheading }}</h4>
        <h2>{{ section.settings.heading }}</h2>
        <img src="{{ section.settings.featured_photo | img_url: 'master' }}" alt="Featured Photo">
        <br>
      </div>
      <div class="features-right features-icon">
        {%- for block in section.blocks limit:2 offset:2 -%}
          <div class="icon-set">
            <img src="{{ block.settings.icon | img_url: 'master' }}" alt="Icon">
            <h3>{{ block.settings.title }}</h3>
            <p>{{ block.settings.desc }}</p>
          </div>
        {%- endfor -%}
      </div>
    </div>

    <div class="features-text">
      {{ section.settings.contents }}
      {%- if section.settings.cta_link != blank -%}
        <a href="{{ section.settings.cta_link }}" class="btn btn-primary">Sign up Now</a>
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "LP - Treats",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "image_picker",
      "id": "background",
      "label": "Background"
    },
    {
      "type": "image_picker",
      "id": "featured_photo",
      "label": "Featured Photo"
    },
    {
      "type": "richtext",
      "id": "contents",
      "label": "Content"
    },
    {
      "type": "text",
      "id": "cta_link",
      "label": "CTA Link"
    }
  ],
  "blocks": [
    {
      "type": "icons",
      "name": "Icons",
      "settings": [
        {
          "type": "image_picker",
          "id": "icon",
          "label": "Icon"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        }
      ]
    }
  ],

  "presets": [
    {
      "name": "LP - Treats"
    }
  ]
}
{% endschema %}
