{{ 'main-product-new.css' | asset_url | stylesheet_tag }}

{%liquid
    assign product_weight = section.settings.product_weight
    assign modal_text = section.settings.modal_text
    assign modal_heading = section.settings.modal_heading
    assign modal_description = section.settings.modal_description
    assign modal_image = section.settings.modal_image
    assign main_product_image_bg_color = section.settings.main_product_image_bg_color
    assign thumbnail_product_image_bg_color = section.settings.thumbnail_product_image_bg_color
%}

<div id="module-product-banner-{{ section.id }}" class="module-product-banner section-padding">
    <div class="module-product-banner__container page-width d-flex">
        <div class="module-product-banner__left-column flex-basis-100">
            <div class="module-product-banner__content">
                <div class="module-product-banner__heading d-flex">
                    <h1 class="remove-spacing">{{ product.title | escape  }}</h1>
                    <span class="module-product-banner__weight">{{ section.settings.product_weight }}</span>
                </div>

                <div id="price-{{ section.id }}" role="status">
                    {%- render 'price', product: product, use_variant: true, show_badges: false, price_class: 'price--large'-%}
                </div>

                <div class="module-product-banner__description product__description rte quick-add-hidden">
                    {{ product.description }}
                </div>

                <div class="module-product-banner__info">
                    {% for block in section.blocks %}
                        {%liquid
                            assign block_info_icon = block.settings.block_info_icon
                            assign block_info_subheading = block.settings.block_info_subheading
                            assign block_info_heading = block.settings.block_info_heading
                        %}
                        {% if block.type == 'block_info' %}
                            <div class="module-product-banner__block_info-item">
                                <div class="module-product-banner__column-heading d-flex">
                                    {% if block_info_icon != blank %}
                                      <div class="module-product-banner__icon">
                                          <img src="{{ block_info_icon | img_url: 'master' }}" alt="{{ block_info_icon.alt }}" width="50" height="50">
                                      </div>
                                    {% endif %}
                                    <div class="module-product-banner__block-heading">
                                        <h5 class="remove-spacing">{{ block_info_subheading }}</h5>
                                        <h5 class="module-product-banner__block_info-heading remove-spacing">{{ block_info_heading }}</h5>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>

                <div style="height: 100px; background: #e0e0ec;">
                    subscription code here {{ main_product_image_bg_color }}
                </div>

                <div class="module-product-banner__add-to-cart">
                    <form action="/cart/add" method="post">
                        <input type="hidden" name="id" value="{{ product.variants.first.id }}">
                        <button class="btn btn--secondary btn--add-to-cart" type="submit">Add to Cart</button>
                    </form>
                </div>

                <div class="module-product-banner__modal">
                    <p class="text-center">{{ modal_text }} <a href="#product-modal"><img class="module-product-banner__modal-image" src="https://cdn.shopify.com/s/files/1/0613/8406/5197/files/Icon-Question_mark.png?v=1686206388" alt="Question marl icon" width="18" height="18"></a></p>
                </div>
            </div>
        </div>
    
        <div class="module-product-banner__right-column flex-basis-100">
            <div class="module-product-banner__product-images d-flex">
                <div class="product-main-image">
                    <a href="{{ product.url }}">
                      <img id="main-image-js" class="main-image" src="{{ product.featured_image.src | product_img_url: "large" }}" alt="{{ product.featured_image.alt | escape }}">
                    </a>
                </div>

                <div class="module-product-banner__product-thumbnails-main">
                  <ul id="module-product-banner__product-thumbnails" class="module-product-banner__product-thumbnails">
                    {% for image in product.images %}
                      <li class="module-product-banner__product-thumbnail module-product-banner__product-thumbnail-js-1">
                        <a href="" data-image="{{ image.src | product_img_url: "large" }}" data-zoom-image="{{ image.src | product_img_url: "large" }}">
                          <img src="{{ image.src | product_img_url: "compact" }}" alt="{{ image.alt | escape }}"  width="100" height="100">
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
        </div>
    </div>
    {% comment %} Side accordion {% endcomment %}
    <div class="side-accordion-main">
        <span class="side-accordion" onclick="openSideNav()">About this food</span>
    </div>
        <!-- The overlay -->
        <!-- Overlay content -->
        <div id="slidingSideNav" class="overlay">
            {% comment %} <a href="javascript:void(0)" class="sideClosebtn" onclick="closeSideNav()">&times;</a> {% endcomment %}
                <div class="side-overlay-content">
                    <div class="side-accordion__container">
                    <div class="tabs">
                        {% assign count = 0 %}
                        {% for block in section.blocks %}
                            {%liquid
                                assign accordion_label = block.settings.accordion_label
                                assign accordion_content = block.settings.accordion_content
                                assign count = count | plus: 1
                            %}
                            {% if block.type == 'block_accordion' %}
                                <div class="tab">
                                    <input class="checkbox" type="checkbox" id="chck-{{ count }}">
                                    <label class="tab-label" for="chck-{{ count }}">{{ accordion_label }}</label>

                                    <div class="tab-content">
                                        {{ accordion_content }}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    </div>
                </div>
              <div class="side-accordion__overflow-text">
                About this food
              </div>
        </div>
</div>


<div id="product-modal" class="module-modal">
    <div class="module-modal__content section d-flex">
        <div class="module-modal__left flex-basis-100">
            <div class="module-modal__left-item">
                <h2 class="remove-spacing section--heading text-purple">{{ modal_heading }}</h2>
                <p>{{ modal_description }}</p>
                <a href="#" class="module-modal__close">&times;</a>

                <div class="qty__main d-flex">
                    <div class="qty">
                        <div>
                            <h5 class="text-purple">Food bag size</h5>
                            <span class="minus">-</span>
                            <span><input type="number" class="count" name="qty" value="5"><span>kg</span></span>
                            <span class="plus">+</span>
                        </div>
                    </div>
    
                    <div class="qty">
                        <div>
                            <h5 class="text-purple">Dog's weight in kg</h5>
                            <span class="minus-2">-</span>
                            <span><input type="number" class="count-2" name="qty-2" value="30"></span>
                            <span class="plus-2">+</span>
                        </div>
                    </div>
                </div>

                <div class="recommended-value">
                    <h5 class="text-purple">Recommended cnumber of cups per day</h5>
                    <input type="text" class="count" name="qty" value="" readonly placeholder="8 cups">
                </div>

                <div class="recommended-days">
                    <h5 class="text-purple">How long your dog food bag will last (in days)</h5>
                    <input type="text" class="count-2" name="qty-2" value="" readonly placeholder="10 days">
                </div>

            </div>
        </div>

        <div class="module-modal__right flex-basis-100">
            {% if modal_image != blank %}
                <img src="{{ modal_image.src | product_img_url: "master" }}" alt="{{ modal_image.alt | escape }}" draggable="false">
            {% endif %}
        </div>
    </div>
</div>

<style>
    #module-product-banner-{{ section.id }} .product-main-image a:after {
        background: {{ main_product_image_bg_color }};
    }

    #module-product-banner-{{ section.id }} .price__container {
      color: {{ main_product_image_bg_color }};
    }
  
    #module-product-banner-{{ section.id }} .module-product-banner__product-thumbnail:after {
        background: {{ thumbnail_product_image_bg_color }};
    }
</style>

{% schema %}
  {
    "name": "Product Banner",
    "class": "module",
    "settings": [
        {
            "type": "text",
            "id": "product_weight",
            "label": "Prduct Weight",
            "default": "(5kg)"
        },
        {
            "type": "text",
            "id": "modal_text",
            "label": "Modal Text",
            "default": "How long will bare last"
        },
        {
            "type": "text",
            "id": "modal_heading",
            "label": "Modal Heading",
            "default": "how long will bare last?"
        },
        {
            "type": "text",
            "id": "modal_description",
            "label": "Modal Description",
            "default": "Please provide us with your dog's weight and the size of the food bag you're considering. We'll then calculate the recommended daily cups and estimate how long the bag will last for your dog."
        },
        {
            "type": "image_picker",
            "id": "modal_image",
            "label": "Modal Image"
        },
        {
            "type": "color",
            "id": "main_product_image_bg_color",
            "default": "#6565a0",
            "label": "Main image background color"
        },
        {
            "type": "color",
            "id": "thumbnail_product_image_bg_color",
            "default": "#e0e0ec",
            "label": "Thumbnail image background color"
        }
    ],
    "blocks": [
        {
            "name": "Block Info",
            "type": "block_info",
            "settings": [
                {
                    "type": "image_picker",
                    "id": "block_info_icon",
                    "label": "Icon"
                  },
                  {
                    "type": "text",
                    "id": "block_info_subheading",
                    "label": "Subheading",
                    "default": "Natural"
                  },
                  {
                      "type": "text",
                      "id": "block_info_heading",
                      "label": "Heading",
                      "default": "real meat as the 1st ingredient always"
                  }
            ]
        },
        {
            "name": "Block Accordion",
            "type": "block_accordion",
            "settings": [
                  {
                    "type": "text",
                    "id": "accordion_label",
                    "label": "Label",
                    "default": "Recipe Details"
                  },
                  {
                      "type": "richtext",
                      "id": "accordion_content",
                      "label": "Heading",
                      "default": "<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>"
                  }
            ]
        }
    ],
    "presets": [
      {
        "name": "Product Banner",
        "category": "product"
      }
    ]
  }
{% endschema %}