{%liquid
    assign background_color = section.settings.background_color
    assign top_decor = section.settings.top_decor
    assign bot_decor = section.settings.bot_decor
    assign top_bg_color = section.settings.top_bg_color
    assign bot_bg_color = section.settings.bot_bg_color
%}
  
<div id="module-ingredients__{{ section.id }}" class="section module-ingredients" style="background: {{ background_color }};">

    {% if top_decor != blank %}
        <img class="module-bottom-decor" src="{{ top_decor | image_url }}" alt="Decor" style="background-color: {{ top_bg_color }}; display: block;">
    {% else %}
        <img class="module-bottom-decor" src="https://cdn.shopify.com/s/files/1/0613/8406/5197/files/Sliced_top_-_Comparison_chart_benefits.png?v=1685603737" alt="Decor" style="background-color: {{ top_bg_color }}; display: block;">
    {% endif %}
    <div class="module-ingredients__container d-flex">
        {%- for block in section.blocks -%}
            {%liquid
                assign heading = block.settings.heading
                assign description = block.settings.description

            %}
            <div class="module-ingredients__item flex-basis-100">
                <h3 class="module-ingredients__heading text-light remove-spacing text-center">{{ heading }}</h3>
                <p class="module-ingredients__description text-light remove-spacing text-center">{{ description }}</p>
            </div>
        {%- endfor -%}
    </div>
    {% if bot_decor != blank %}
        <img class="module-bottom-decor" src="{{ bot_decor | image_url }}" alt="Decor" style="background-color: {{ bot_bg_color }}; display: block;">
    {% else %}
        <img class="module-bottom-decor" src="https://cdn.shopify.com/s/files/1/0613/8406/5197/files/Sliced_bottom_-_Comparison_chart_benefits.png?v=1685603738" alt="Decor" style="background-color: {{ bot_bg_color }}; display: block;">
    {% endif %}
</div>

<style>
    .module-ingredients__container {
        gap: 50px;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        padding-top: 30px;
        padding-bottom: 20px;
        padding-left: 10%;
        padding-right: 10%;
    }

    .module-ingredients__heading {
        font-family: var(--gilroybold);
        font-size: 34px;
        margin-bottom: 1rem;
    }

    .module-ingredients .module-top-decor, .module-ingredients .module-bottom-decor {
        height: 220px;
        width: 100%;
    }

    .module-ingredients__item:nth-child(1) {
        margin-top: -8%;
    }

    .module-ingredients__item:nth-child(2) {
        margin-top: -10%;
    }

    .module-ingredients__item:nth-child(3) {
        margin-top: -6%;
    }

    .module-ingredients__item:nth-child(4) {
        margin-top: -2%;
    }

    .module-ingredients__item:nth-child(5) {
        margin-top: -4%;
    } 

    .module-ingredients__item {
        z-index: 2;
    }
    
    @media (max-width: 768px) {
        .module-ingredients__container {
            display: flex;
            flex-wrap: wrap;
            gap: 0;
            justify-content: center;
        }

        .module-ingredients .module-ingredients__item {
            flex-basis: calc(33.33% - 20px);
            margin: 10px;
        }
    }

    @media (max-width: 600px) {
        .module-ingredients .module-ingredients__item {
            flex-basis: calc(50% - 20px);
            margin: 10px;
        }

      div#module-premium-kibble__template--16100550869165__3adee236-f43c-4068-9a51-1f560aa0383d:after {
          top: 490px;
          background-position: 0 365px, 90% 390px, center;
          background-size: 260px, 55px, 128%;
      }

      .module-ingredients__heading {
        font-size: 24px;
      }
    }
</style>


{% schema %}
  {
    "name": "Module Ingredients",
    "class": "module",
    "settings": [
        {
            "type": "color",
            "id": "background_color",
            "label": "Background Color",
            "default": "#2B2A51"
        },
        {
            "type": "image_picker",
            "id": "top_decor",
            "label": "Top Decor"
        },
        {
            "type": "image_picker",
            "id": "bot_decor",
            "label": "Bottom Decor"
        },
        {
            "type": "color",
            "id": "top_bg_color",
            "label": "Top Background Color",
            "default": "#f9cf4f"
        },
        {
            "type": "color",
            "id": "bot_bg_color",
            "label": "Bottom Background Color",
            "default": "#fcfcff"
        }
    ],
    "max_blocks": 5,
    "blocks": [
        {
            "name": "Text",
            "type": "text",
            "settings": [
                {
                    "type": "text",
                    "id": "heading",
                    "label": "Heading",
                    "default": "first ingredient"
                },
                {
                    "type": "textarea",
                    "id": "description",
                    "label": "Description",
                    "default": "Fresh cicken is an excellent source of high-quality protein source."
                }
            ]
        }
    ],
    "presets": [
      {
        "name": "Module Ingredients",
        "category": "text"
      }
    ]
  }
{% endschema %}
