{%liquid
    assign heading = section.settings.heading
    assign description = section.settings.description
    assign subscribe_image = section.settings.subscribe_image
    assign featured_image = section.settings.featured_image
    assign r_heading = section.settings.r_heading
    assign form_code = section.settings.form_code
%}

<div id="module-breeder-program-{{ section.id }}" class="module-breeder-program">
    <div class="breeder-program__wrapper">
        <div class="breeder-program__container d-flex">
            <div class="breeder-program__info-container">
                <h2 class="breeder-program__info-heading remove-spacing">{{ heading }}</h2>
                <p class="breeder-program__description remove-spacing">{{ description }}</p>
                <div class="breeder-program__subscribe-image d-flex">
                    {% for i in (1..3) %}
                        <img src="{{ subscribe_image | image_url }}">
                    {% endfor %}
                </div>
                <div class="breeder-program__featured-image">
                    <img src="{{ featured_image | image_url }}">
                </div>
            </div>
            <div class="breeder-program__contact-container">
                <h2 class="breeder-program__contact-heading remove-spacing">{{ r_heading }}</h2>
                <div class="breeder-program__contact-form">
                    {{ form_code }}
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .breeder-program__wrapper {
        padding: 70px 30px;
        background-image: linear-gradient(180deg, #e0e0ec, #ffffff);
    }
    .breeder-program__container {
        max-width: 1120px;
        margin: auto;
        gap: 40px;
    }
    .breeder-program__info-container, .breeder-program__contact-container {
        width: 50%;
    }
    .breeder-program__info-heading, .breeder-program__contact-heading {
        font-size: 30px;
        line-height: 38px;
        font-family: var(--gilroybold);
        color: #6565a0;
        margin-bottom: 15px;
    }
    .breeder-program__description {
        font-size: 14px;
        line-height: 20px;
        font-family: var(--gilroyreg);
        color: #2a294f;
    }
    .breeder-program__subscribe-image img {
        width: 140px;
        height: 140px;
    }
    .breeder-program__subscribe-image {
        justify-content: space-evenly;
        margin: 30px 0;
    }
    .breeder-program__featured-image img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
    .breeder-program__contact-form .klaviyo-form-YmYBtX.klaviyo-form label {
        font-size: 16px!important;
        line-height: 19px;
        font-family: var(--gilroyreg)!important;
    }
    .breeder-program__contact-form .klaviyo-form-YmYBtX.klaviyo-form input, .breeder-program__contact-form .klaviyo-form-YmYBtX.klaviyo-form input::placeholder {
        font-family: var(--gilroyreg) !important;
        font-size: 14px!important;
        line-height: 17px;
    }
    .breeder-program__contact-form .klaviyo-form-YmYBtX.klaviyo-form input::placeholder {
        color: #9da9b3!important;
    }
    .breeder-program__contact-form .klaviyo-form-YmYBtX.klaviyo-form button {
        font-family: var(--futurabold)!important;
        font-size: 18px!important;
        letter-spacing: 2px!important;
    }
    @media (max-width: 767px) {
        .breeder-program__container {
            flex-direction: column;
            gap: 20px
        }
        .breeder-program__info-container, .breeder-program__contact-container {
            width: 100%;
        }
        .breeder-program__info-heading, .breeder-program__contact-heading {
            font-size: 24px;
            line-height: 32px;
        }
    }
    @media (max-width: 589px) {
        .breeder-program__subscribe-image img {
            width: 85px;
            height: 85px;
        }
    }
</style>

{% schema %}
  {
    "name": "Module Breeder Program",
    "class": "module",
    "settings": [
        {
            "type": "header",
            "content": "Left Section Info"
        },
        {
            "type": "text",
            "id": "heading",
            "label": "Heading",
            "default": "lorem: ipsum dolor"
        },
        {
            "type": "textarea",
            "id": "description",
            "label": "Description",
            "default": "lorem ipsum dolor sit met"
        },
        {
            "type": "image_picker",
            "id": "subscribe_image",
            "label": "Subscribe Image"
        },
        {
            "type": "image_picker",
            "id": "featured_image",
            "label": "Featured Image"
        },
        {
            "type": "header",
            "content": "Right Section Info"
        },
        {
            "type": "text",
            "id": "r_heading",
            "label": "Contact Heading",
            "default": "fill in the fields and join the pack"
        },
        {
            "type": "html",
            "id": "form_code",
            "label": "Form Code",
            "default": "<p>[INSERT FORM CODE HERE]</p>"
        }
    ],
    "presets": [
      {
        "name": "Module Breeder Program",
        "category": "info"
      }
    ]
  }
{% endschema %}