{%liquid
    assign background_color = section.settings.background_color
    assign image_position = section.settings.image_position

    assign subheading = section.settings.subheading
    assign heading = section.settings.heading
    assign badge = section.settings.badge
    assign main_image = section.settings.main_image
    assign column_subheading = section.settings.column_subheading
    assign column_heading = section.settings.column_heading
    assign review_text = section.settings.review_text
    assign column_description = section.settings.column_description
    assign button_text = section.settings.button_text
    assign button_link = section.settings.button_link

%}
  
<div id="module-premium-kibble__{{ section.id }}" class="section module-premium-kibble" style="background: {{ background_color }};">
    <div class="module-premium-kibble__container page-width section-padding">
        {% if subheading != blank or heading != blank %}
          <div class="module-premium-kibble__heading text-center">
                <h3 class="text-mint remove-spacing subheading">{{ subheading }}</h3>
                <h2 class="text-light remove-spacing section--heading">{{ heading }}</h2>
          </div>
        {% endif %}
        <div class="module-premium-kibble__columns d-flex">
            <div class="module-premium-kibble__column flex-basis-100">
              {% if main_image != blank %}
                <div class="module-premium-kibble__play-icon-main">
                  <img class="module-premium-kibble__image" src="{{ main_image | img_url: 'master' }}" alt="{{ main_image.alt }}" loading="lazy">
                </div>
              {% endif %}
              {% if badge != blank %}
                <div class="module-premium-kibble__badge">
                  <img src="{{ badge | img_url: 'master' }}" alt="{{ badge.alt }}" loading="lazy" width="130" height="130">
                </div>
              {% endif %}
            </div>

            <div class="module-premium-kibble__column flex-basis-100">
                <div class="module-premium-kibble__content">
                  <div class="module-premium-kibble__column-content">
                    <h3 class="text-mint remove-spacing subheading">{{ column_subheading }}</h3>
                    <h4 class="text-light remove-spacing module-premium-kibble__heading-width">{{ column_heading }}</h4>

                    <div class="module-premium-kibble__rating-main">
                      <div class="module-premium-kibble__rating">
                        <svg xmlns="http://www.w3.org/2000/svg" width="130" height="70" viewBox="0 0 50 20">
                          <g id="Star" transform="translate(-251 -5984.75)">
                            <path id="Icon_ionic-ios-star" data-name="Icon ionic-ios-star" d="M8.84,5.577H6.591l-.683-2.04a.248.248,0,0,0-.465,0l-.683,2.04H2.495a.245.245,0,0,0-.245.245.18.18,0,0,0,0,.041.235.235,0,0,0,.1.173l1.849,1.3L3.5,9.4a.245.245,0,0,0,.084.275.237.237,0,0,0,.138.06.3.3,0,0,0,.153-.055l1.8-1.286,1.8,1.286a.287.287,0,0,0,.153.055.22.22,0,0,0,.136-.06A.242.242,0,0,0,7.852,9.4L7.143,7.338,8.976,6.023l.044-.038a.234.234,0,0,0-.18-.408Z" transform="translate(248.75 5981.375)" fill="#FFCD00"/>
                            <path id="Icon_ionic-ios-star-2" data-name="Icon ionic-ios-star" d="M8.84,5.577H6.591l-.683-2.04a.248.248,0,0,0-.465,0l-.683,2.04H2.495a.245.245,0,0,0-.245.245.18.18,0,0,0,0,.041.235.235,0,0,0,.1.173l1.849,1.3L3.5,9.4a.245.245,0,0,0,.084.275.237.237,0,0,0,.138.06.3.3,0,0,0,.153-.055l1.8-1.286,1.8,1.286a.287.287,0,0,0,.153.055.22.22,0,0,0,.136-.06A.242.242,0,0,0,7.852,9.4L7.143,7.338,8.976,6.023l.044-.038a.234.234,0,0,0-.18-.408Z" transform="translate(256.75 5981.375)" fill="#FFCD00"/>
                            <path id="Icon_ionic-ios-star-3" data-name="Icon ionic-ios-star" d="M8.84,5.577H6.591l-.683-2.04a.248.248,0,0,0-.465,0l-.683,2.04H2.495a.245.245,0,0,0-.245.245.18.18,0,0,0,0,.041.235.235,0,0,0,.1.173l1.849,1.3L3.5,9.4a.245.245,0,0,0,.084.275.237.237,0,0,0,.138.06.3.3,0,0,0,.153-.055l1.8-1.286,1.8,1.286a.287.287,0,0,0,.153.055.22.22,0,0,0,.136-.06A.242.242,0,0,0,7.852,9.4L7.143,7.338,8.976,6.023l.044-.038a.234.234,0,0,0-.18-.408Z" transform="translate(264.75 5981.375)" fill="#FFCD00"/>
                            <path id="Icon_ionic-ios-star-4" data-name="Icon ionic-ios-star" d="M8.84,5.577H6.591l-.683-2.04a.248.248,0,0,0-.465,0l-.683,2.04H2.495a.245.245,0,0,0-.245.245.18.18,0,0,0,0,.041.235.235,0,0,0,.1.173l1.849,1.3L3.5,9.4a.245.245,0,0,0,.084.275.237.237,0,0,0,.138.06.3.3,0,0,0,.153-.055l1.8-1.286,1.8,1.286a.287.287,0,0,0,.153.055.22.22,0,0,0,.136-.06A.242.242,0,0,0,7.852,9.4L7.143,7.338,8.976,6.023l.044-.038a.234.234,0,0,0-.18-.408Z" transform="translate(271.75 5981.375)" fill="#FFCD00"/>
                            <path id="Icon_ionic-ios-star-5" data-name="Icon ionic-ios-star" d="M8.84,5.577H6.591l-.683-2.04a.248.248,0,0,0-.465,0l-.683,2.04H2.495a.245.245,0,0,0-.245.245.18.18,0,0,0,0,.041.235.235,0,0,0,.1.173l1.849,1.3L3.5,9.4a.245.245,0,0,0,.084.275.237.237,0,0,0,.138.06.3.3,0,0,0,.153-.055l1.8-1.286,1.8,1.286a.287.287,0,0,0,.153.055.22.22,0,0,0,.136-.06A.242.242,0,0,0,7.852,9.4L7.143,7.338,8.976,6.023l.044-.038a.234.234,0,0,0-.18-.408Z" transform="translate(279.75 5981.375)" fill="#FFCD00"/>
                          </g>
                        </svg>
                      </div>
                      <div class="module-premium-kibble__rating-text text-light">
                        <span>{{ review_text }}</span>
                      </div>
                    </div>

                    <p class="text-light remove-spacing module-premium-kibble__description-width">{{ column_description }}</p>
                  </div>
                  <div class="module-premium-kibble__button">
                    <a href="{{ button_link }}" class="btn btn--primary">{{ button_text }}</a>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
  
<style>


  {% if image_position == 'image_left' %}
    #module-premium-kibble__{{ section.id }} .module-premium-kibble__columns {
      flex-direction: row;
    }

    #module-premium-kibble__{{ section.id }} .module-premium-kibble__badge {
      position: absolute;
      top: 0;
      left: -6%;
    }
  {% elsif image_position == 'image_right' %}
      #module-premium-kibble__{{ section.id }} .module-premium-kibble__columns {
        flex-direction: row-reverse;
      }

      #module-premium-kibble__{{ section.id }} .module-premium-kibble__badge {
        position: absolute;
        top: 30%;
        right: -12%;
      }
  {% endif %}

  .module-premium-kibble__container {
    z-index: 2;
    position: relative;
    overflow-x: hidden;
  }

  .module-premium-kibble__image {
    max-width: 100%;
  }

    .module-premium-kibble {
        position: relative;
    }
    
    div#module-premium-kibble__template--16100550869165__3adee236-f43c-4068-9a51-1f560aa0383d:after {
        content: "";
        position: absolute;
        top: 530px;
        left: 0;
        right: 0;
        width: 100%;
        max-width: 100%;
        height: 100%;
        background-image: url(https://cdn.shopify.com/s/files/1/0613/8406/5197/files/Kibble_2.png?v=1685528023), url(https://cdn.shopify.com/s/files/1/0613/8406/5197/files/kibble-2_2433734c-bcde-43c6-a25e-8001fdfc624e.png?v=1685528023), url(https://cdn.shopify.com/s/files/1/0613/8406/5197/files/Path_26877_1.png?v=1685526518);
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-position: 0 240px, 90% 180px, center;
        background-size: 300px, 55px, 128%;
        z-index: 1;
    }
  

  .module-premium-kibble__columns {
    gap: 50px;
  }

  .module-premium-kibble__column {
    display: flex;
    align-items: center;
    position: relative;
  }

  .module-premium-kibble__column video {
    max-width: 100%;
    user-select: none;
    -webkit-user-select: none;        
    -moz-user-select: none;
    -ms-user-select: none;
    display: block;
  }

  .module-premium-kibble__heading {
    width: 70%;
    display: block;
    margin-bottom: 4rem;
    margin-inline: auto;
  }

  .module-premium-kibble__description-width {
    width: 62%;
    margin-bottom: 2.6rem;
  }

  .module-premium-kibble__button {
    margin-top: 2rem;
  }
  
  .module-premium-kibble__rating {
    height: 45px;
    overflow: hidden;
  }

  .module-premium-kibble__rating-main {
    display: flex;
    align-items: center;
  }

  .module-premium-kibble__rating-text {
    font-size: 14px;
    opacity: 0.6;
    margin-top: -8px;
    margin-left: -22px;
    font-weight: 400;
  }
  .module-premium-kibble__heading-width {
    width: 62%;
  }

  .module-premium-kibble__badge img {
    max-width: 100%;
    object-fit: contain;
  }

  @media screen and (max-width: 1024px) {
    .module-premium-kibble__description-width, .module-premium-kibble__heading-width {
      width: 100%;
    }
  }

  @media screen and (max-width: 768px) {
    .module-premium-kibble__heading {
      width: 100%;
    }

    .module-premium-kibble__badge img {
      max-width: 94px;
      object-fit: contain;
    }

    #module-premium-kibble__{{ section.id }} .module-premium-kibble__badge {
      top: -40px;
      left: -12%;
    }
  }

  @media screen and (max-width: 600px) {
    #module-premium-kibble__{{ section.id }} .module-premium-kibble__columns {
      flex-direction: column;
      text-align: center;
    }

    .module-premium-kibble__rating-main {
      justify-content: center;
    }

    .module-premium-kibble__column video {
      max-width: 80%;
      display: block;
      margin-inline: auto;
    }

    {% if image_position == 'image_left' %}
      #module-premium-kibble__{{ section.id }} .module-premium-kibble__badge {
          left: 8px;
          top: -35px;
      }
    {% elsif image_position == 'image_right' %}
        #module-premium-kibble__{{ section.id }} .module-premium-kibble__badge {
          top: 1%;
          left: 76%;
        }
    {% endif %}

    .module-premium-kibble__badge img {
      max-width: 90px;
      display: block;
    }
  }
</style>


{% schema %}
  {
    "name": "Module Premium Kibble",
    "class": "module",
    "settings": [
        {
            "type": "color",
            "id": "background_color",
            "label": "Background Color",
            "default": "#2A294F"
        },
        {
          "type": "select",
          "id": "image_position",
          "label": "Text Image Position",
          "options": [
            {
              "value": "image_left",
              "label": "Image Left"
            },
            {
              "value": "image_right",
              "label": "Image Right"
            }
          ],
          "default": "image_left"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading (optional)",
          "default": "Premium Kibble"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading (optional)",
          "default": "Premium quality pet food at supermarket prices"
        },
        {
          "type": "image_picker",
          "id": "badge",
          "label": "Badge"
        },
        {
          "type": "image_picker",
          "id": "main_image",
          "label": "Main Image"
        },
        {
          "type": "text",
          "id": "column_subheading",
          "label": "Column Subheading",
          "default": "Dry Kibble"
        },
        {
          "type": "text",
          "id": "column_heading",
          "label": "Column Heading",
          "default": "Candidly fresh chicken"
        },
        {
          "type": "text",
          "id": "review_text",
          "label": "Reviews",
          "default": "12 reviews"
        },
        {
          "type": "textarea",
          "id": "column_description",
          "label": "Column Description",
          "default": "Honestly good dry dog food. No gluten. No preservatives. Never any bad stuff."
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "Try Bare"
        },
        {
            "type": "url",
            "id": "button_link",
            "label": "Button Link"
        }
    ],
    "presets": [
      {
        "name": "Module Premium Kibble",
        "category": "product"
      }
    ]
  }
{% endschema %}
