{{ 'module-why-it-is-special.css' | asset_url | stylesheet_tag }}

{%liquid
    assign background_color = section.settings.background_color
    assign subheading = section.settings.subheading
    assign heading = section.settings.heading
    assign original_image = section.settings.original_image
    assign modified_image = section.settings.modified_image
%}

<div id="module-why-special__{{ section.id }}" class="section module-why-special" style="background: {{ background_color }};">
    {% if subheading != blank or heading != blank %}
      <div class="module-why-special__heading text-center">
            <h3 class="text-yellow remove-spacing subheading">{{ subheading }}</h3>
            <h2 class="text-light remove-spacing section--heading">{{ heading }}</h2>
      </div>
    {% endif %}
    <div class="module-why-special__container d-flex">
        <div class="module-why-special__left">
          {% for block in section.blocks %}
            {%liquid
                assign left_icon = block.settings.left_icon
                assign left_subheading = block.settings.left_subheading
                assign left_heading = block.settings.left_heading
                assign left_description = block.settings.left_description
            %}
            {% if block.type == 'left_info' %}
                <div class="module-why-special__left-item">
                    <div class="module-why-special__column-heading d-flex">
                        {% if left_icon != blank %}
                          <div class="module-why-special__icon">
                              <img src="{{ left_icon | img_url: 'master' }}" alt="{{ left_icon.alt }}" width="75" height="75">
                          </div>
                        {% endif %}
                        <h3 class="text-yellow remove-spacing subheading">{{ left_subheading }}</h3>
                    </div>
                    <h4 class="module-why-special__left-heading remove-spacing text-light">{{ left_heading }}</h4>
                    {% if left_description != blank %}
                        <p class="module-why-special__left-description remove-spacing text-light">{{ left_description }}</p>
                    {% endif %}
                </div>
            {% endif %}
          {% endfor %}
        </div>
        
        <div class="module-why-special__middle">
          <figure class="cd-image-container">
            <img src="{{ original_image | img_url: 'master' }}" alt="{{ original_image.alt }}">
            <span class="cd-image-label" data-type="original">Crowded</span>
            <div class="cd-resize-img">
              <!-- the resizable image on top -->
              <img src="{{ modified_image | img_url: 'master' }}" alt="{{ modified_image.alt }}">
              <span class="cd-image-label" data-type="modified">Quiet</span>
            </div>
          
            <span class="cd-handle"></span>
          </figure>
        </div>

        <div class="module-why-special__right">
          {% for block in section.blocks %}
            {%liquid
                assign right_icon = block.settings.right_icon
                assign right_subheading = block.settings.right_subheading
                assign right_heading = block.settings.right_heading
                assign right_description = block.settings.right_description
            %}
            {% if block.type == 'right_info' %}
                <div class="module-why-special__right-item">
                    <div class="module-why-special__column-heading d-flex">
                        {% if right_icon != blank %}
                          <div class="module-why-special__icon">
                              <img src="{{ right_icon | img_url: 'master' }}" alt="{{ right_icon.alt }}" width="75" height="75">
                          </div>
                        {% endif %}
                        <h3 class="text-yellow remove-spacing subheading">{{ right_subheading }}</h3>
                    </div>
                    <h4 class="module-why-special__right-heading remove-spacing text-light">{{ right_heading }}</h4>
                    {% if right_description != blank %}
                        <p class="module-why-special__right-description remove-spacing text-light">{{ right_description }}</p>
                    {% endif %}
                </div>
            {% endif %}
          {% endfor %}
        </div>
    </div>
</div>

{% schema %}
  {
    "name": "Module Why so special",
    "class": "module",
    "settings": [
        {
            "type": "color",
            "id": "background_color",
            "label": "Background Color",
            "default": "#2B2A51"
        },
        {
          "type": "text",
          "id": "subheading",
          "label": "Subheading (optional)",
          "default": "Why it's so special"
        },
        {
          "type": "text",
          "id": "heading",
          "label": "Heading (optional)",
          "default": "only the gooood stuff"
        },
        {
          "type": "image_picker",
          "id": "original_image",
          "label": "Original Image"
        },
        {
          "type": "image_picker",
          "id": "modified_image",
          "label": "Modified Image"
        }
    ],
    "max_blocks": 4,
    "blocks": [
        {
            "name": "Left Info",
            "type": "left_info",
            "settings": [
                {
                  "type": "image_picker",
                  "id": "left_icon",
                  "label": "Icon"
                },
                {
                  "type": "text",
                  "id": "left_subheading",
                  "label": "Subheading",
                  "default": "Natural"
                },
                {
                    "type": "text",
                    "id": "left_heading",
                    "label": "Heading",
                    "default": "real meat as the 1st ingredient always"
                },
                {
                    "type": "textarea",
                    "id": "left_description",
                    "label": "Description",
                    "default": "with quality protein source, fresh veggies, superfood, and added vitamins and minerals"
                }
            ]
        },
        {
            "name": "Right Info",
            "type": "right_info",
            "settings": [
              {
                "type": "image_picker",
                "id": "right_icon",
                "label": "Icon"
              },
              {
                "type": "text",
                "id": "right_subheading",
                "label": "Subheading",
                "default": "Natural"
              },
              {
                  "type": "text",
                  "id": "right_heading",
                  "label": "Heading",
                  "default": "real meat as the 1st ingredient always"
              },
              {
                  "type": "textarea",
                  "id": "right_description",
                  "label": "Description",
                  "default": "with quality protein source, fresh veggies, superfood, and added vitamins and minerals"
              }
            ]
        }
    ],
    "presets": [
      {
        "name": "Module Why so special",
        "category": "product"
      }
    ]
  }
{% endschema %}
