{%liquid
    assign heading = section.settings.heading
    assign description = section.settings.description
    assign legend_text_first = section.settings.legend_text_first
    assign legend_text_second = section.settings.legend_text_second

%}

<div class="module-first-time" >
    <img class="module-first-time__decor-top" src="https://cdn.shopify.com/s/files/1/0613/8406/5197/files/Mask_Group_55.png?v=1685934502" alt="decor">
   <div class="module-first-time__container page-width d-flex section">
        <div class="module-first-time__left">
            <div class="module-first-time__heading-main">
                <h2 class="module-first-time__heading text-light remove-spacing section--heading">{{ heading }}</h2>
                <p class="module-first-time__description text-light remove-spacing">{{ description }}</p>
            </div>
        </div>
        <div class="module-first-time__right">
            <div class="module-first-time__bare-foods">
                <div class="module-first-time__bare-legends d-flex">
                    <div class="module-first-time__bare-legend d-flex">
                        <span class="module-first-time__bare-legend-color legend-color-1"></span>
                        <p class="module-first-time__bare-legend-text text-light">{{ legend_text_first }}</p>
                    </div>
       
                    <div class="module-first-time__bare-legend d-flex">
                        <span class="module-first-time__bare-legend-color legend-color-2"></span>
                        <p class="module-first-time__bare-legend-text text-light">{{ legend_text_second }}</p>
                    </div>
                </div>
                <div class="module-first-time__bare-visual d-flex">
                    {% for block in section.blocks %}
                        {%liquid
                            assign days = block.settings.days
                            assign logo = block.settings.logo
                            assign progress = block.settings.progress
                        %}
                        <div class="module-first-time__bare-visual-item text-center">
                            <h3 class="text-light">{{ days }}</h3>
                            {% if logo != blank %}
                            <div class="module-logo-list__item flex-basis-100 text-center">
                                <img src="{{ logo | image_url }}" class="module-logo-list__image">
                            </div>
                            {% endif %}
                            <p class="text-light">{{ progress }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
   </div>
   <img class="module-first-time__decor-bottom" src="https://cdn.shopify.com/s/files/1/0613/8406/5197/files/Mask_Group_56.png?v=1685934503" alt="decor">
</div>

<style>
    .module-first-time {
        background-image: url('https://cdn.shopify.com/s/files/1/0613/8406/5197/files/Mask_Group_57.png?v=1685935180');
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: -230px;
    }

    .module-first-time__decor-top,
    .module-first-time__decor-bottom {
        background: #2a294f;
        width: 100%;
        display: block;
        max-width: 100%;
    }

    .module-first-time__decor-bottom {
        margin-top: -180px;
        margin-bottom: -180px;
    }

    .module-first-time__decor-top {
        margin-bottom: -50px;
    }

    .module-first-time__container {
        gap: 100px;
        z-index: 1;
        position: relative;
    }

    .module-first-time__left {
        width: 40%;
    }

    .module-first-time__right {
        width: 60%;
        display: flex;
        align-items: center;
    }

    .module-first-time .module-first-time__description br {
        display: block;
        content: "";
        margin-top: 20px;
    }

    .module-first-time__bare-visual-item h3 {
        font-size: 22px;
    }
   
    .module-first-time__bare-visual-item p {
        font-size: 20px;
        font-weight: 700;
        line-height: 1.4em;
    }



    .module-first-time__bare-visual {
        justify-content: space-between;
        gap: 20px;
    }

    .module-first-time__bare-visual img {
        width: 120px;
        display: block;
        margin-inline: auto;
        object-fit: contain;
    }

    .module-first-time__bare-legends {
        gap: 80px;
    }

    .module-first-time__bare-legend {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .module-first-time__bare-legend-color {
        width: 18px;
        height: 18px;
        border-radius: 50%;
    }

    .legend-color-1 {
        background: #2a294f;
    }

    .legend-color-2 {
        background: #E0E0EC;
    }

    .module-first-time__heading {
        margin-bottom: 2.5rem;
    }

    @media screen and (max-width: 1024px) {
        .module-first-time__container {
            gap: 30px;
        }
    }

    @media screen and (max-width: 768px) {
        .module-first-time__container {
            flex-direction: column;
        }

        .module-first-time__left {
            width: 100%;
            text-align: center;
        }

        .module-first-time__right,
        .module-first-time__bare-foods {
            width: 100%;
        }

        .module-first-time__bare-visual {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
        }

        .module-first-time__bare-legends {
            justify-content: center;
        }
    }

    @media screen and (max-width: 600px) {
        .module-first-time__bare-visual-item h3,
        .module-first-time__bare-visual-item p {
            font-size: 16px;
        }
        .module-first-time__bare-legends {
            gap: 50px;
        }
    }

</style>

{% schema %}
  {
    "name": "Module first time trying",
    "class": "module",
    "settings": [
            {
                "type": "color",
                "id": "background_color",
                "label": "Background Color",
                "default": "#E0E0EC"
            },
            {
                "type": "text",
                "id": "heading",
                "label": "Heading",
                "default": "first time<br/> trying bare?"
            },
            {
                "type": "textarea",
                "id": "description",
                "label": "Description",
                "default": "Say goodbye to upset stomachs when switching your doggo over from another brand of food. Simply replace their old food with the of bare kibble as shown above over 10 days. <br><br> After 10 days you'll be set for life with no tummy troubles. It's that bare simple!"
            },
            {
                "type": "text",
                "id": "legend_text_first",
                "label": "Legend text",
                "default": "bare food"
            },
            {
                "type": "text",
                "id": "legend_text_second",
                "label": "Legend text",
                "default": "previous food"
            }
    ],
    "max_blocks": 4,
    "blocks": [
        {
            "type": "logo",
            "name": "Logo",
            "settings": [
                {
                    "type": "text",
                    "id": "days",
                    "label": "Days",
                    "default": "days 1-3"
                },
                {
                    "type": "image_picker",
                    "id": "logo",
                    "label": "Logo"
                },
                {
                    "type": "text",
                    "id": "progress",
                    "label": "Progress",
                    "default": "25% bare food"
                }
            ]
        }
    ],
    "presets": [
      {
        "name": "Module first time trying",
        "category": "image"
      }
    ]
  }
{% endschema %}
